@font-face {
  src: url("../fonts/Gilroy-ExtraBold.otf");
  font-family: "GilroyBold";
}
.newProduct {
  position: relative;
}
.newProduct:after {
  height: 62px;
  width: 62px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background-color: transparent;
  content: "NEW";
  font-family: "GilroyBold";
  color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -335px;
  left: 271px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
