@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  src:
    local("GilroyLight"),
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  src:
    local("GilroyExtraBold"),
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}
@font-face {
  font-family: "OpenSans";
  font-weight: 300;
  src:
    local("OpenSanslight"),
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}
@font-face {
  font-family: "OpenSans";
  font-weight: 400;
  src:
    local("OpenSans"),
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.newProduct {
  position: relative;
}
.newProduct::after {
  height: 62px;
  width: 62px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background-color: transparent;
  content: "NEW";
  font-family: "Gilroy";
  font-weight: 800;
  color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -335px;
  left: 271px;
}
:root {
  --basic-black: #000;
  --dark-grey: #363636;
  --basic-grey:#464646;
  --half-light-grey:#7E7E7E;
  --light-grey: #E5E5E5;
  --basic-white: #FFF;

  --basic-beige: #F7E296;
  --dark-yellow: #F0C52E;
  --basic-green: #91C92F;
  --basic-pink: #F6DADA;
}
/* Global */
html {
  height: 100%;
}
body {
  font-family: "Gilroy", "Roboto", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
a {
  text-decoration: none;
  color: var(--basic-black);
}
img {
  max-width: 100%;
  height: auto;
}
.no-word-break {
  white-space: nowrap;
}
/* Global grid */
body {
  min-width: 1180px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template: ". header ." min-content
                 "main main main" 1fr
                 "footer footer footer" min-content
                 / 1fr 1180px 1fr;
}
h1, h2, h3 {
  margin: 0px;
}
.main-header {
  grid-area: header;
  margin: 40px 10px 0px;
}
main {
  grid-area: main;
  margin: 0px 10px;
}
.main-footer {
  grid-area: footer;
}


/*                                                              01.header grid   */
.nav-section-header {
  width: 1160px;
  min-height: 300px;
  position: relative;
  box-sizing: border-box;
  padding: 44px 60px 0px;
}
.inner-page .nav-section-header {
  min-height: 186px;
}
.logo.header-logo {
  position: absolute;
  top: -20px;
  left: 60px;
}

.user-nav-header {
  display: grid;
  grid-template: "search account compare cart" 70px
                 /540px 280px 120px 100px;
}
.user-nav-header .cart-link {
  justify-self: end;
}
.search-form {
  position: relative;
  bottom: 15px;
}
.profile-related a,
.profile-related span,
.profile-related form,
.profile-related button {
  display: inline-block;
}

.site-nav-header {
  display: grid;
  grid-template: "catalog delivery guarantee contacts" 40px
                 /540px 160px 1fr 1fr;
}
.site-nav-header a:last-child {
  justify-self: end;
}

.catalog-submenu {
  display: grid;
  grid-template: repeat(3, 36px) / repeat(3, max-content);
  column-gap: 64px;
  grid-auto-flow: column;
  text-transform: none;

}
.catalog-submenu a:last-child {
  grid-area: 1/3;
}

/*                                                              02.footer grid   */
.main-footer {
  box-sizing: border-box;
  position: relative;
  padding-top: 46px;
  padding-bottom: 63px;
  display: grid;
  grid-template: ". logo . user-nav user-nav ." 20px
                 ". . . . . ." 77px
                 ". address site-nav site-nav tel ."
                 ". . . . . ." 55px
                 ". . socials socials socials ."
                 / 1fr 260px 400px 300px 200px 1fr;
}

.site-nav-footer {
  grid-area: site-nav;
  display: flex;
  justify-content: space-between;
  margin: 0px 169px 0px 108px;
}
.site-nav-footer a {
  margin-top: -5px;
}
.main-footer p {
  align-self: start;
  position: relative;
  top: -4px;
}

.user-nav-footer {
  grid-area: user-nav;
}
.main-footer .phone-number {
  grid-area: tel;
  justify-self: end;
  margin-top: 0px;
}
.main-footer .physical-address {
  grid-area: address;
  margin-top: 0px;
}
.main-footer .logo {
  grid-area: logo;
  position: relative;
  top: 18px;
}

.user-nav-footer {
  display: flex;
  justify-content: end;
}
.user-nav-footer a {
  margin-left: 40px;
}

.main-footer .socials-wrapper {
  grid-area: socials;
  display: flex;
  justify-content: end;
  align-items: start;
  margin-top: -6px;
}
.socials-wrapper>a:last-child {
  margin-left: 485px;
}


/*                                                             03.main-page  grid */
.main-page {
  display: grid;
  grid-template: ". slider slider ."
                 ". catalog catalog ."
                 ". features features ."
                 ". partners partners ."
                 ". about_us contacts ."
                 /1fr 560px 560px 1fr;
  column-gap: 40px;
  margin-bottom: 77px;
}

.ad-slider-section {
  grid-area: slider;
}
.extra-catalog-section {
  grid-area: catalog;
}
.features {
  grid-area: features;
}
.partners-section {
  grid-area: partners;
}
.about-us-section {
  grid-area: about_us;
}
.contacts-section {
  grid-area: contacts;
}
/*                                                             03.1 about-us section grid  */
.about-us-section {
  padding-right: 85px;
}
.about-us-list {
  list-style: none;
  padding: 0px;
  padding-top: 50px;
  margin: 0px;
  display: flex;
  flex-direction: column;
}
.about-us-list>li:not(:last-child) {
  padding-bottom: 40px;
}
.about-us-list>li:last-child {
  padding-bottom: 70px;
}

.transport-partners {
  padding: 0px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}
.transport-partners>li:not(:last-child) {
  padding-bottom: 14px;
}
.transport-partners>li {
  padding: 0px;
}

/*                                                             03.2 contacts section grid  */
.contacts-section p {
  margin: 50px 0 40px;
}
.contacts-section .feedback-button {
  margin-top: 71px;
  padding-left: 11px;
}

/*                                                             04. main-monopod section grid  */
main.main-monopod {
  display: grid;
  grid-template: ". . breadcrumbs breadcrumbs ."
                 ". . filter sort ."
                 ". . filter products ."
                 ". . filter pages ."
                 /1fr 60px 328px 832px 1fr;
  column-gap: 72px;
}
.main-monopod .breadcrumbs-section {
  grid-area: breadcrumbs;
}
.main-monopod .filter-section {
  grid-area: filter;
}
.main-monopod .sort-section {
  grid-area: sort;
}
.main-monopod .products-display-section {
  grid-area: products;
}
.main-monopod .pagination-container {
  grid-area: pages;
}

/*                                                             04.1 breadcrumbs grid  */
.breadcrumbs-section {
  margin-top: 44px;
}
.breadcrumbs-section .breadcrumbs {
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 0px;
  display: flex;
}

/*                                                             04.2 filter section grid  */
.filter-section {
  padding-right: 68px;
  background-color: var(--light-grey);
}
/*                                                             04.3 sort section  grid  */
.sort-section {
  display: flex;
  flex-direction: row;
}
.sort-section ul {
  list-style: none;
  padding: 0px;
  display: flex;
}
/*                                                             04.4 display section  grid  */
.products-display {
  display: grid;
  margin: 70px 0px 40px 0px;
  padding-left: 0px;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  row-gap: 48px;
  column-gap: 40px;
  justify-content: left;
}
.products-display h3 {
  display: inline-block;
  width: 280px;
}
.product-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/*                                                             04.5 pagination  grid  */
.pagination-container {
  background-color: var(--light-grey);
  margin-bottom: 78px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
}
.pagination-container .pages-list {
  list-style: none;
  padding: 0px;
  display: flex;
  margin: 0px;
}
.pages-list li {
  margin: 0px 15px;
}


/*catalog submenu interactive*/
.catalog-submenu {
  position: absolute;
  visibility: hidden;
  width: 1160px;
  height: auto;
  background-color: var(--basic-beige);
  top: 154px;
  left: 0px;
  box-sizing: border-box;
  padding: 12px 60px 26px;
}

.catalog-link:hover+.catalog-submenu,
.catalog-link:focus+.catalog-submenu,
.catalog-link:active+.catalog-submenu,
.catalog-submenu:hover
.catalog-submenu:focus
.catalog-submenu:active {
  visibility: visible;
}




/*  header (& footer basics)*/
.nav-section-header {
  background-color: var(--basic-beige);
}
.nav-section-header a[href]:hover,
.nav-section-header a[href]:focus {
  opacity: 0.6;
}
.nav-section-header a[href]:active {
  opacity: 0.3;
}
.site-nav-header>a,
.site-nav-footer>a {
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-right: -.2em;
  color: var(--basic-black);
}
.site-nav-header>a:first-child {
  letter-spacing: 0.1em;
}
.catalog-submenu a,
.user-nav-footer a,
.user-nav-header a {
  font-family: "OpenSans";
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
}
/*  logout button (footer basics)  */
.user-nav-header button,
.user-nav-footer button {
  font-family: "OpenSans";
  font-weight: 200;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.3);
  line-height: 20px;
  background-color: transparent;
  border: 0px;
}
.header-nav .sign-out:hover,
.header-nav .sign-out:focus {
  color: rgba(0, 0, 0, 0.6);
}
.header-nav .sign-out:active {
  color: var(--basic-black);
}
/*  logo  states aspect  */
.logo[href] img:hover,
.logo[href] img:focus {
  opacity: 0.6;
}
.logo[href] img:active {
  opacity: 0.3;
}

/*  Search form input: */
.search-form input {
  font-family: "OpenSans";
  position: relative;
  font-weight: 300;
  font-size: 15px;
  font-weight: 20px;
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;

  width: 332px;
  padding: 0px 5px 15px 20px;
  margin-right: 0px;
  border: 0px solid;
}
.search-form input:hover{
  color: rgba(0, 0, 0, 0.6);
}
.search-form input:focus,
.search-form input:active {
  color: var(--basic-black);
}

/*  Search form button: */
.search-form button {
  font-family: "OpenSans";
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: transparent;
  border: 0px;
  box-shadow: inset 0px 0px 0px 2px var(--basic-black);
  padding: 15px 17px;
  margin: 0px 0px 0px 5px;
  opacity: 0;
  position: relative;
}
.search-input:focus~button,
.search-input:active~button {
  opacity: 1;
}
.search-form button:hover {
  color: var(--basic-white);
  background-color: var(--basic-black);
}
.search-form button:focus {
  color: var(--basic-white);
  background-color: var(--basic-black);
  opacity: 1;
}
.search-form button:active {
  color: rgba(255,255,255,0.3);
  background-color: var(--basic-black);
  opacity: 1;
}
/*  Search form border-bottom element: */
.search-form .border-bottom {
  width: 440px;
  height: 2px;
  background-color: var(--basic-black);
  position: absolute;
  left: 0px;
  top: 48px;
  opacity: 0;
}

.search-input:focus~.border-bottom,
.search-label:focus~.border-bottom,
.search-button:focus~.border-bottom,
.search-input:active~.border-bottom,
.search-label:active~.border-bottom,
.search-button:active~.border-bottom {
  opacity: 1;
}


/*  footer (completion)  */
.main-footer {
  background-color: var(--dark-grey);
}
.site-nav-footer {
  text-align: center;
}
.site-nav-footer a {
  color: var(--basic-white);
  padding: 0px 0px;
}
.site-nav-footer a:hover,
.site-nav-footer a:focus {
  color: rgba(255, 255, 255, 0.6);
}
.site-nav-footer a:active  {
  color: rgba(255, 255, 255, 0.3)
}
.user-nav-footer a {
  color: rgba(255, 255, 255, 0.6);
}
.user-nav-footer a:hover,
.user-nav-footer a:focus {
  color: var(--basic-white);
}
.user-nav-footer a:active {
  color: rgba(255, 255, 255, 0.3);
}
.main-footer p {
  font-family: "OpenSans";
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-white);
}
/*  logout button: ;*/
.user-nav-footer button {
  color: rgba(255, 255, 255, 0.3);
}
.user-nav-footer button:hover,
.user-nav-footer button:focus {
  color: var(--basic-white);
}
.user-nav-footer button:active {
  color: rgba(255, 255, 255, 0.3);
}
/*  Socials  */
.socials {
  text-align: center;
}
.socials img {
  margin-left: 15px;
  opacity: 0.3;
}
.socials img:hover,
.socials img:focus,
.other-socials:hover,
.other-socials:focus {
  opacity: 0.6;
}
.socials img:active {
  opacity: 0.1;
}
.other-socials:active {
  opacity: 0.3;
}


/*  logo footer: */
.main-footer .logo::before {
  content:"";
  width: 80px;
  height: 7px;
  background: var(--dark-yellow);
  position: absolute;
  margin-top: 175px;
  pointer-events: none;
}

/*  contacts_section (& about_us basics) section:  */
.contacts-section h2,
.about-us-section h2 {
  font-size: 47px;
  letter-spacing: 0.2em;
  line-height: 58px;
  margin-top: 57px;
  position: relative;
  height: 48px;
}
.contacts-section h2::before,
.about-us-section h2::before {
  content:"";
  width: 80px;
  height: 7px;
  background: var(--basic-black);
  position: absolute;
  top: -57px;
}
.contacts-section p {
  font-family: "OpenSans";
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
}
button.map-unfold {
  border: 0px;
  margin: 0px;
  padding: 0px;
}
.feedback-button {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
  width: 260px;
  height: 40px;
  background: linear-gradient(transparent 40%, 40%, var(--dark-yellow) 50%, 60%, transparent 60%);
}
.feedback-button:hover,
a.about-us:hover,
.feedback-button:focus,
a.about-us:focus {
  background-color: var(--dark-yellow);
}
.feedback-button:active,
a.about-us:active {
  background-color: var(--dark-yellow);
  color: rgba(0, 0, 0, 0.3);
}

/*  about_us section: */
a.about-us {
  display: inline-block;
  box-sizing: border-box;
  padding-top: 9px;
  padding-left: 7px;
  text-align: center;
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
  width: 260px;
  height: 40px;
  background: linear-gradient(transparent 40%, 40%, var(--dark-yellow) 50%, 60%, transparent 60%);
}
.about-us-list {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  color: var(--basic-black);
  list-style: none;
}
.transport-partners {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  color: var(--basic-black);
  list-style: none;
}

/*  inner_page  */
.inner-page h1 {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  color: var(--basic-color);
}
.breadcrumbs li {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  opacity: 0.3;
  list-style: none;
}
.breadcrumbs li:hover,
.breadcrumbs li:focus {
  opacity: 0.6;
}
.breadcrumbs li:active {
  opacity: 0.1;
}

/*  filter  */
form.filter-form {
  background-color: var(--light-grey);
}
fieldset.color-range {
  border: 0px;
  padding: 0px;
}
.price-range-label,
.color-range legend,
p.bluetooth-range {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: var(--basic-black);
}
input[disabled]+label {
  color: #A6A6A6;
}

/*  filter decoration black line */
.price-range-label::before,
.color-range legend::before,
p.bluetooth-range::before {
  content:"";
  width: 200px;
  height: 2px;
  background: var(--basic-black);
  position: absolute;
  margin-top: -16px;
}
.filter-form label {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
}

/* submit-filter button */
.filter-form button {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
  width: 260px;
  height: 40px;
  background: linear-gradient(transparent 40%, 40%, var(--dark-yellow) 50%, 60%, transparent 60%);
}
.filter-form button:hover,
.filter-form button:focus {
  background-color: var(--dark-yellow);
}
.filter-form button:active {
  background-color: var(--dark-yellow);
  color: rgba(0, 0, 0, 0.3);
}

/*  products-display  */
.products-display-section h3 {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-color);
}
ul.products-display {
  list-style: none;
}
.products-display p {
  font-family: G"ilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.product-item {
  position: relative;
}
.overlay {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 171px;
  display: none;
}
.overlay button {
  display: block;
  margin: 0px auto 13px;
}
.product-item:hover .overlay {
  display: block;
}



/*  add to cart & add to comparison  */
button.add-to-cart {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
  width: 200px;
  height: 40px;
  background: linear-gradient(transparent 40%, 40%, var(--dark-yellow) 50%, 60%, transparent 60%);
}
button.add-to-cart:hover,
button.add-to-cart:focus {
  background-color: var(--dark-yellow);
}
button.add-to-cart:active {
  background-color: var(--dark-yellow);
  color: rgba(0, 0, 0, 0.3);
}

button.add-to-comparison {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: var(--basic-black);

  background-color: transparent;
  border: none;
  opacity: 0.5;
}
button.add-to-comparison:focus,
button.add-to-comparison:hover {
  opacity: 1;
}
button.add-to-comparison:active {
  opacity: 0.2;
}

.product-item img:hover,
.product-item img:focus {
  opacity: 0.7;
}
